.logo__text{
  font-family: monospace;
  font-weight: 800;
}

.logo__cursor {
    display: inline-block;
    width: 7px;
    height: 1.8rem;
    background: orange;
    border-radius: 1px;
    animation: cursor 1s infinite;
    margin-left: 8px;
}

.logo__subtitle{
  font-family:  monospace;
  font-weight: 400;
  letter-spacing: -1px;
}

.logo__login{
  font-family: monospace;
  font-weight: 800;
  text-transform: uppercase;
  transition: .2s all ease-out;
}

.logo__login:hover{
  background-color: transparent !important;
  box-shadow: inset 0 -10px 10px -10px grey;
  transition: .2s all ease-out;
}

.c_hr{
  border:solid 1px rgb(229, 229, 229)!important;margin:0px!important;
}

.mb_6px{
  margin-bottom: 6px!important;
}

.mb_8px{
  margin-bottom: 8px!important;
}

.history__ul{
  list-style-type: circle;
  margin-left: 20px;
}

.history__box{
  height: 200px;
  overflow-y: auto;
}

@media(prefers-reduced-motion:reduce) {
  .logo__cursor {
      animation: none
  }
}

@keyframes cursor {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}
